// =======================================
// =            Global Config            =
// =======================================

// Typography

font-url--google        = 'http://fonts.googleapis.com/css?family=Lato:100,400,700'
font-family--primary    = 'Open Sans', sans-serif
font-family--secondary  = 'Lato', sans-serif

base__font-size         = 16px
base__line-height       = 1.65
base__letter-space      = 0

// Font-Weights
thin                    = 100
extra-light             = 200
light                   = 300
normal                  = 400
medium                  = 500
semi-bold               = 600
bold                    = 700
extra-bold              = 800
ultra-bold              = 900

// Colors
white                   = #ffffff
black                   = #000000
orange                  = #EC7024

main-color              = orange

// Transitions
trns-duration           = 0.3s
